.homeNewsCards {
  width: 95%;
  margin: 10px auto;
}

.mainCard {
  width: 60%;
}

.mainCardImg {
  width: 100%;
}

.cardHeading {
  width: 300px;
  height: 150px;
  background: #3b82f6;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
}
