.navbar {
  background: rgb(0, 0, 125);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.navBarList {
  display: flex;
  gap: 10px;
}
.navBarList a {
  border: 1px white solid;
  color: white;
  padding: 5px 10px;
  transition: 0.5s;
}
.navBarList a:hover {
  background: #4facfe;
  color: rgb(0, 0, 125);
  border: 1px #4facfe solid;
  border-radius: 5px;
}
.search {
  display: flex;
  align-items: center;
}
