.dashboard{
    display: flex;
    width: 100%;
}

.dashboard_page{
    width: 80%;
}

@media (max-width: 1024px){
    .dashboard_page{
    width: 100%;
}
}

@media (max-width: 768px){
    .dashboard_page{
        width: 100%;
    }
}